<div class="container">
    <h2>User info</h2>
    <div class="row">
      <div class="row">

        <%=render partial:"users/error", locals:{ user: @user } %>

      </div>
    </div>

      <div class="col-md-8">
        <%= form_with model:@user, local:true do |form| %>

          <p><%= form.label :name, "Name" %><br>
          <%= form.text_field :name %></p>


          <label for="inputImage">Image</label></br>
          <%= form.attachment_field :profile_image, placeholder: "プロフィール画像" %>

          <p><%= form.label :introduction, "Introduction" %><br>
          <%= form.text_area :introduction %></p>


          <%= form.submit 'Update User', class: :"btn btn-success"  %>
        <% end %>
      </div>
    </div>
  </div>