<div class="container">
  <h2>Editing Book</h2>

    <div class="row">
        <%=render partial:"error", locals:{ book: @book } %>
    </div>

  <%= form_with model:@book, local:true do |form| %>

    <p><%= form.label :title, "title" %><br>
    <%= form.text_field :title %></p>

    <p><%= form.label :body, "Opinion" %><br>
    <%= form.text_area :body %></p>

    <%= form.submit "Update Book", class: "btn btn-success" %>

  <% end %>

  <%= link_to 'Show', book_path(@book.id) %>
  <div class="vertical_line"></div>
  <%= link_to 'Back', books_path %>

</div>