<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%=render partial:"user", locals:{ user: @user_select } %>

      <%=render partial:"new", locals:{ book: @book } %>

    </div>

    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
        <table>

          <tbody>

            <tr>
              <td>
                <div class="book_show_user_name">
                <%= link_to user_path(@book.user.id) do %>
                <%= attachment_image_tag @book.user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %><br>
                  <%= @book.user.name %>
                </div>
                <% end %>
              </td>

              <td><%=link_to @book.title,book_path(current_user.id) %></td>
              <td><%= @book.body %></td>

              <% if @book.user == current_user %>
              <td><%= link_to "Edit", edit_book_path(@book.id), class: :"btn btn-success" %></td>
              <td><%= link_to "Destroy", book_path(@book.id), method: :delete, class: :"btn btn-danger",
                    "data-confirm"=>"本当に削除しますか？" %></td>
              <% end %>

            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>

